<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="TransactionModelContainer" connectionString="metadata=res://*/TransactionModel.csdl|res://*/TransactionModel.ssdl|res://*/TransactionModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=websit01;Initial Catalog=TRANSACTION_DEV;Persist Security Info=True;User ID=sa;Password=p@ssw0rdsa;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>-->
    <add name="TransactionModelContainer" connectionString="metadata=res://*/TransactionModel.csdl|res://*/TransactionModel.ssdl|res://*/TransactionModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=itdev02;Initial Catalog=Transaction_DEV;Persist Security Info=True;User ID=sa;Password=p@ssw0rd;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="WcfTransactionService.WcfTransactionService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="ITransactionServiceBind"
                  contract="TransactionServiceInterface.ITransactionService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/WcfTransactionService/WcfTransactionService/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="ITransactionServiceBind" transactionFlow="true">
          <reliableSession enabled="false"/>
          <security mode="None">
            <transport clientCredentialType="None" />
            <message algorithmSuite="Default" clientCredentialType="None"
                     negotiateServiceCredential="false" establishSecurityContext="false" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IIDMService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" transactionFlow="true" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://itdev02.carpassad.co.th:8081/idm/service/current/WCFIDMServiceApplication.WCFIDMService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IIDMService"
                contract="IDMService.IIDMService" name="WSHttpBinding_IIDMService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
