<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="TransactionModelContainer" connectionString="metadata=res://*/TransactionModel.csdl|res://*/TransactionModel.ssdl|res://*/TransactionModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=websit01;Initial Catalog=TRANSACTION_DEV;Persist Security Info=True;User ID=sa;Password=p@ssw0rdsa;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>-->
    <add name="TransactionModelContainer" connectionString="metadata=res://*/TransactionModel.csdl|res://*/TransactionModel.ssdl|res://*/TransactionModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=itdev02;Initial Catalog=TRANSACTION_DEV;Persist Security Info=True;User ID=sa;Password=p@ssw0rd;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
