<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="TransactionModelContainer" connectionString="metadata=res://*/TransactionModel.csdl|res://*/TransactionModel.ssdl|res://*/TransactionModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=websit01;Initial Catalog=TRANSACTION_DEV;Persist Security Info=True;User ID=sa;Password=p@ssw0rdsa;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>-->
    <add name="TransactionModelContainer" connectionString="metadata=res://*/TransactionModel.csdl|res://*/TransactionModel.ssdl|res://*/TransactionModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=itdev02;Initial Catalog=Transaction_DEV;Persist Security Info=True;User ID=sa;Password=p@ssw0rd;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IGalileoInternalServiceWcf" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IEmailGateway" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
            maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
            allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_ISmsGateway" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
            maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
            allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IIDMService" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            bypassProxyOnLocal="false" transactionFlow="true" hostNameComparisonMode="StrongWildcard"
            maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
            allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://itdev01:8080/emailgateway/service/201101/EmailGatewayWcf.EmailGateway.svc"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IEmailGateway"
          contract="EmailGatewayService.IEmailGateway" name="WSHttpBinding_IEmailGateway">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://sms.carpass.co.th/SmsGateway/Service/current/SmsGatewayWcf.SmsGateway.svc"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISmsGateway"
          contract="SmsGatewayService.ISmsGateway" name="WSHttpBinding_ISmsGateway">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://itdev02.carpassad.co.th:8081/idm/service/current/WCFIDMServiceApplication.WCFIDMService.svc"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IIDMService"
          contract="IDMService.IIDMService" name="WSHttpBinding_IIDMService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://itdev02.carpassad.co.th:8080/galileo/service/current/CarPass.Galileo.Service.Internal.Wcf.GalileoInternalServiceWcf.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGalileoInternalServiceWcf"
          contract="GalileoService.IGalileoInternalServiceWcf" name="BasicHttpBinding_IGalileoInternalServiceWcf" />
    </client>
  </system.serviceModel>
</configuration>
